@page "/register"


<h3>Регистрация</h3>

<EditForm Model="@RegisterModel" OnValidSubmit="@HandleRegister">

    <DataAnnotationsValidator />

    @if (!string.IsNullOrEmpty(registerError))
    {
        <div class="alert alert-danger">@registerError</div>
    }

    <div class="form-group">
        <label>Имя:</label>
        <InputText @bind-Value="RegisterModel.Username" class="form-control" />
        <ValidationMessage For="@(() => RegisterModel.Username)" />
    </div>
    <div class="form-group">
        <label>Email:</label>
        <InputText @bind-Value="RegisterModel.Email" class="form-control" />
        <ValidationMessage For="@(() => RegisterModel.Email)" />
    </div>
    <div class="form-group">
        <label>Пароль:</label>
        <InputText type="password" @bind-Value="RegisterModel.Password" class="form-control" />
        <ValidationMessage For="@(() => RegisterModel.Password)" />
    </div>

    <button type="submit" class="btn btn-primary">Зарегестрироваться</button>

</EditForm>
