@page "/Main"
@using System.Globalization;
@using ChartJs.Blazor.PieChart;
@using System.Drawing;
@using ChartJs.Blazor.Util

<div class="app-container">
    <div style="display: flex; width: 100%; margin: 0; padding: 0;">
        <div class="left" style="flex: 1; border: 1px solid black;">
            <button class="add-button" @onclick="ShowAddTransactionModal" style="width: 100%; margin-bottom: 50px;">
                Добавить запись
            </button>

            <div class="summary-card income" style="width: 100%; margin-bottom: 50px;">
                <h3>Сводка (Доходы)</h3>
                <p class="amount">@TotalIncome.ToString("C", CultureInfo.CurrentCulture)</p>
            </div>

            <div class="summary-card expense" style="width: 100%; margin-bottom: 50px;">
                <h3>Сводка (Расходы)</h3>
                <p class="amount">@TotalExpense.ToString("C", CultureInfo.CurrentCulture)</p>
            </div>

            <div class="summary-card balance" style="width: 100%; margin-bottom: 50px;">
                <h3>Сводка (Баланс)</h3>
                <p class="amount">@Balance.ToString("C", CultureInfo.CurrentCulture)</p>
            </div>
        </div>

        <div class="content" style="flex: 2; border: 1px solid black;">
            <h1 class="app-title" style="text-align: center;">Название приложения</h1>

            <div class="chart-section">
                <div style="text-align:center; width:100%">
                    <div style="display:inline-block">
                        <input type="radio" id="income"
                        name="graph_type"
                        value="income"
                        checked="@(isIncomeSelected)"
                        @onchange="@(() => RadioInputChanged(true))">
                        <label for="income" style="margin-right:20px;">Доходы</label>
                    </div>
                    <div style="display:inline-block">
                        <input type="radio"
                        id="expense"
                        name="graph_type"
                        value="expense"
                        checked="@(!isIncomeSelected)"
                        @onchange="@(() => RadioInputChanged(false))">
                        <label for="expense">Расходы</label>
                    </div>
                </div>
                <div class="chart-container" style="text-align: center;">
                    @if (_pieConfig != null)
                    {
                        <Chart Width="400"
                        Height="200"
                        Config="_pieConfig"
                        @ref="_pieChart">
                        </Chart>
                    }
                    else if (!HasChartData)
                    {
                        <div style="padding: 50px; text-align: center;">
                            <p>Нет данных для отображения за @(CurrentMonthName).</p>
                        </div>
                    }
                    else
                    {
                        <div style="padding: 50px;">
                            <p>Загрузка...</p>
                            <canvas width="400" height="200"></canvas>
                        </div>
                    }
                    
                </div>

            </div>
        </div>

        <div class="right" style="flex: 1; border: 1px solid black;">
            <div class="user-info" style="text-align: center;">
                <span class="username">Пользователь: </span>
            </div>

            <div class="transactions-section">
                <div class="recent-transactions" style="margin-bottom: 50px;">
                    <h2>Список последних транзакций</h2>
                    <ul class="transaction-list">
                        @foreach (var transaction in RecentTransactions)
                        {
                            <li class="transaction-item @(transaction.IsIncome ? "income" : "expense")" style="margin-bottom: 10px;">
                                <span class="description">@transaction.Description</span>
                                <span class="amount">@transaction.Amount.ToString("C", CultureInfo.CurrentCulture)</span>
                                <span class="date">@transaction.Date.ToShortDateString()</span>
                            </li>
                        }
                    </ul>

                    <div class="full-history">
                        <a class="btn btn-primary btn-sm" style="width: 100%;" href="/Transactions">История транзакций</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (showAddModal)
{
    <div class="modal">
        <div class="modal-content">
            <h3>Добавить новую транзакцию</h3>

            <EditForm Model="newTransaction" OnValidSubmit="AddTransaction">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label>Тип:</label>
                    <select @onchange="OnTransactionTypeChanged">
                        <option value="" selected>Выберите тип транзакции</option>
                        <option value="income">Доход</option>
                        <option value="expense">Расход</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Категория:</label>
                    <select @bind="newTransaction.CategoryId" disabled="@(string.IsNullOrEmpty(selectedTransactionType))">
                        <option value="" selected>Выберите категорию</option>
                        @foreach (var category in filteredCategories)
                        {
                            <option value="@category.CategoryId">@category.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Счет:</label>
                    <select @bind="newTransaction.AccountId">
                        <option value="" selected>Выберите счет</option>
                        @foreach (var account in accounts)
                        {
                            <option value="@account.AccountId">@account.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Сумма:</label>
                    <input type="number" @bind="newTransaction.Amount" />
                </div>

                <div class="form-group">
                    <label>Дата:</label>
                    <input type="date" @bind="newTransaction.Date" />
                </div>

                <div class="form-group">
                    <label>Описание:</label>
                    <input type="text" @bind="newTransaction.Description" />
                </div>

                <div class="modal-actions">
                    <button type="submit">Добавить</button>
                    <button type="button" @onclick="HideAddTransactionModal">Отмена</button>
                </div>
            </EditForm>
        </div>
    </div>
}

