@page "/Transactions"


<h1 class="text-center mb-3">История транзакций</h1>

@if (transactions == null)
{
    <p><em>Загрузка ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id транзакции</th>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Описание</th>
                <th>Id счёта</th>
                <th>Категория</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions)
            {
                <tr>
                    <td>@transaction.TransactionId</td>
                    <td>@transaction.Date.ToShortDateString()</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Description</td>
                    <td>@transaction.AccountId</td>
                    <td>@GetCategoryName(transaction.CategoryId)</td>
                    <td style="white-space:nowrap">
                        <a class="btn btn-primary btn-sm" href="/Transactions/UpdateTransaction/@transaction.TransactionId">Изменить</a>
                        <a class="btn btn-danger btn-sm" href="/Transactions/DeleteTransaction/@transaction.TransactionId">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-primary mb-3" href="/Main">Back</a>