@page "/Transactions"


<h1 class="text-center mb-3">List of Transactions</h1>

@if (transactions == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>TransactionId</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>AccountId</th>
                <th>CategoryId</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions)
            {
                <tr>
                    <td>@transaction.TransactionId</td>
                    <td>@transaction.Date.ToShortDateString()</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Description</td>
                    <td>@transaction.AccountId</td>
                    <td>@transaction.CategoryId</td>
                    <td style="white-space:nowrap">
                        <a class="btn btn-primary btn-sm" href="/Transactions/UpdateTransaction/@transaction.TransactionId">Update</a>
                        <a class="btn btn-danger btn-sm" href="/Transactions/DeleteTransaction/@transaction.TransactionId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-primary mb-3" href="/Main">Back</a>