@page "/Transactions/UpdateTransaction/{Id:int}"
@using System.ComponentModel.DataAnnotations


<EditForm Model="TransactionData" OnValidSubmit="SaveTransaction">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-lg-8">
            <h1 class="mb-5">Изменение данных о транзакции</h1>

            @if (IsLoading)
            {
                <p><em>Загрузка...</em></p>
            }
            else if (TransactionData != null)
            {
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Сумма</label>
                    <div class="col-md-8">
                        <InputNumber class="form-control" @bind-Value="TransactionData.Amount" />
                        <ValidationMessage For="@(() => TransactionData.Amount)" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Описание</label>
                    <div class="col-md-8">
                        <InputText class="form-control" @bind-Value="TransactionData.Description" />
                        <ValidationMessage For="@(() => TransactionData.Description)" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Id счёта</label>
                    <div class="col-md-8">
                        <InputNumber class="form-control" @bind-Value="TransactionData.AccountId" />
                        <ValidationMessage For="@(() => TransactionData.AccountId)" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Категория</label>
                    <div class="col-md-8">
                        <InputNumber class="form-control" @bind-Value="TransactionData.CategoryId" />
                        <ValidationMessage For="@(() => TransactionData.CategoryId)" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Категория</label>
                    <div class="col-md-8">
                        <InputSelect class="form-control" @bind-Value="TransactionData.CategoryId">
                            <option value="0">-- Выберите категорию --</option>
                            @foreach (var category in Categories)
                            {
                                <option value="@category.CategoryId">@category.Name (@(category.IsIncome ? "Доход" : "Расход"))</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => TransactionData.CategoryId)" />
                    </div>
                </div>

                @if (ServerErrors?.Count > 0)
                {
                    <div class="alert alert-danger">
                        <ul>
                            @foreach (var error in ServerErrors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                }

                <div class="row">
                    <div class="offset-md-4 col-md-4 d-grid">
                        <button class="btn btn-primary" type="submit" disabled="@IsSubmitting">Сохранить</button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <a class="btn btn-outline-primary" href="/Transactions">Отменить</a>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-danger">Транзакция не найдена.</div>
            }
        </div>
    </div>
</EditForm>
