@page "/Users"


<h1 class = "text-center mb-3">List of Users</h1>
<a class="btn btn-primary mb-3" href="/Users/AddUser">New User</a>

@if(users == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>UserId</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>CreatedAt</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                    <td>@user.CreatedAt.ToShortDateString()</td>
                    <td style="white-space:nowrap">
                        <a class="btn btn-primary btn-sm" href="/Users/UpdateUser/@user.UserId">Update</a>
                        <a class="btn btn-danger btn-sm" href="/Users/DeleteUser/@user.UserId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
